<section
  id="inicio"
  class="flex flex-col items-center justify-center text-center text-balance px-6 py-11 gap-3"
>
  <h1 class="text-3xl font-bold text-gray-900">Resultados de la Encuesta AIS 2026</h1>
  <p class="text-lg text-gray-500 max-w-[600px]">
    Visualización de datos recolectados de los estudiantes y profesionales egresados del Área de Ingeniería en Sistemas
    (AIS) de la Universidad Nacional Experimental Rómulo Gallegos
  </p>
</section>
